@charset "utf-8";
@font-face {
	font-family: CONDENSEicon;
	src: url("CONDENSEicon.eot");
}

@font-face {
    font-family: 'CONDENSEicon';
    src:url('CONDENSEicon.woff') format('woff'),
        url('CONDENSEicon.otf') format('opentype');
}


body{
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 16px;
	line-height: 2em;
	overflow-x: hidden;
	width: 100%;
	height: auto;
	color: #333;
	letter-spacing: 0.1em;
}

.large{
	font-size: 16px;
	line-height: 2.3em;
}

img{
border:none;
vertical-align:bottom;
}

a{
	color: #333;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #666;
}



ul{
list-style-type:none;
}


hr{
display:none;
clear:both;
}

.table, td {
	line-height: 1.2em;
	letter-spacing: 0.03em;
	border: 1px solid #CCC;
}

.left {
	float: left!important;
}
.clear_both {
	float: none!important;
}

.right {
	float: right!important;
}

.p_none {
	display: none!important;
}
.bace {
	background-color: #FFF;
	margin: 0px;
	width: 100%;
	z-index: 10;
}

#loading {
	background-image: url(../images/loading.gif);
	background-repeat: repeat-x;
	background-position: center center;
	background-size:150px 150px;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 100;
	left: 0px;
	top: 0px;
	background-color: #FFF;
}
#textsize {
	display:none;
}

#header {
	content:"";
	background-position: 0px;
	height: 150px;
	width: 100%;
	position: fixed;
	z-index: 99999999999;
	left: 0px;
	bottom: 0px;
	background-color: #FFF;
}

bg {
	background-color: #FFF;
	height: 62px;
	width: 100%;
	position: fixed;
	z-index: 99999999999;
}

header h1{
	height: 81px;
	width: 100%;
	position: fixed;
	z-index: 9999999;
	left:0px;
	/*background-image: url(../images/logo02.png);}*/
	background-repeat: no-repeat;
	background-position:center top;
	background-size: cover;
	text-indent: -9999px;
	top: 0px;
	padding-top: 0px;
	background-color: #FFF;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}

.logo{
	height: 80px;
	width: 200px;
	position: fixed;
	z-index: 99999999999;
	left:0px;
	background-image: url(../images/logo02.png);
	background-repeat: no-repeat;
	background-position:left 0px;
	display: inline-block;
	margin-top: -32px;
}

header h1:hover{
	top: 0px;
}
header h1 a {
	display: block;
	float: left;
	height: 100%;
	width: 100%;
}

header .s_menu {
	display: block;
	width: 50px;
	height: 50px;
	background-image: url(../images/menu_off.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 30px 30px;
	cursor: pointer;
	position: fixed;
	z-index: 999999999;
	top: 10px;
	right: 10px;
	text-indent: -9999px;
	background-color: #61C1BA;
	margin-top: 0px;
}
header .s_menu.select {
	background-image: url(../images/menu_on.png);
}
header nav {
	width: 100%;
	position: fixed;
	right: 0px;
	top: 1px;
	z-index: 11;
	height: 341px;
	box-sizing: border-box;
	background-color: rgba(255,255,255,1);
	display: none;
	margin-top: 0px;
	padding-top: 65px;
	padding-right: 15px;
	padding-bottom: 40px;
	padding-left: 15px;
}

.mainnavi ul {
	float: left;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 30px;
	background-color: #FFF;
}
.mainnavi li {
	float: left;
	width: 48%;
}
.mainnavi li:nth-child(even) {
	float: right;
}

.mainnavi li a {
	display: block;
	float: left;
	width: 100%;
	height: 100%;
	position: relative;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #61C1BA;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}
.mainnavi li a:hover {
	text-decoration:none;
}

.mainnavi li a.navi01 {
	display: none;
}




#base_information .info_left {
	float: left;
	width: 100%;
	margin-bottom:20px;
}
#base_information .info_left dl {
	float: left;
	width: 100%;
	margin-bottom: 25px;
	text-align:center;
}
#base_information .info_left dl dt {
	float: left;
	width: 100%;
	margin-bottom: 5px;
}
#base_information .info_left dl dd {
	font-size: 24px;
	float: left;
	width: 100%;
	line-height: 1em;
	font-family: "Century", Times, serif;
	font-weight: normal;
	text-decoration: underline;
	letter-spacing: 0.15em;
}
#base_information .info_map {
	float: left;
	width: 100%;
	margin-bottom: 15px;
}

#base_information .info_access {
	float: left;
	width: 100%;
	position: relative;
	padding-bottom: 40px;
}
#base_information .info_access h2 {
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	float: left;
	width: 100%;
	margin-bottom: 15px;
	padding-top: 14px;
	padding-bottom: 12px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #EEE;
	border-bottom-color: #EEE;
	line-height: 1em;
}
#base_information .info_access .btn01 {
	float: left;
	width: 100%;
	text-align: center;
	box-sizing: border-box;
	margin-top:15px;
}


footer {
	width: 100%;
	float: left;
	position: relative;
	padding-top: 20px;
	padding-bottom: 40px;
	background-color: #FFF;
}
.footwrap {
	width: 100%;
	float: left;
	position: relative;
	z-index: 999;
	display: block;
}
footer h1  {
	display:none;
}

footer .mainnavi {
	display:none;
}


footer .copyright {
	font-size: 11px;
	text-align: center;
	display: block;
	float: left;
	width: 100%;
	margin-top: 0px;
	letter-spacing: 0.1em;
}
#pagetop {
	position: fixed;
	z-index: 3;
	right: 20px;
	bottom: 0px;
	display: none;
	width: 50px;
	box-sizing: border-box;
	cursor: pointer;
	overflow: visible;
	background-image: url(../images/btn_pagetop.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 28px auto;
	background-color: #333333;
	height: 50px;
	text-indent: -9999px;
	-moz-border-radius:8px 8px 0px 0px;
	-webkit-border-radius:8px 8px 0px 0px;
	border-radius: 8px 8px 0px 0px;
}


 *  Base Styles
/* ------------------------------------------------------------------------- */

 
strong { font-weight: bold; }
em { font-style: italic; }
blockquote {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
}
 
/*  base : img
/* ------------------------------------ */
.aligncenter {
	display: block;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 20;
	margin-left: auto;
}
.alignright {
	float: right;
	margin-bottom: 20px;
	margin-left: 20px;
}
.alignleft {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}
img[class*="wp-image-"],
img[class*="attachment-"] {
    max-width: 100%;
    height: auto;
}